//
   Created by jdzor on 05.11.2017.

header.brand-bg.header
    h1.site-title.sr-only(itemprop='name') Site for trade realty for cryptocurrency.
    .container
        .row
            a.header-logo
                img(src='../../assets/img/logo.png', alt='logo')
            nav.header-nav(role='navigation')
                ul.nav.navbar-nav
                    li
                        a(href='#')
                            | аренда
                            span.nav-caret
                        ul.dropdown-menu
                            li
                                a(href='#') Квартира
                            li
                                a(href='#') Дом
                            li
                                a(href='#') Коммерческая недвижимость
                            li.submenu-title Сдать в аренду
                    li
                        a(href='#')
                            | продажа
                            span.nav-caret
                        ul.dropdown-menu
                            li
                                a(href='#') Квартира
                            li
                                a(href='#') Дом
                            li
                                a(href='#') Коммерческая недвижимость
                            li
                                a(href='#') Земельный участок
                            li.submenu-title Продать недвижимость
                    li
                        a(href='#')
                            | владельцам
                            span.nav-caret
                        .dropdown-menu
                            ul
                                li.submenu-title продажа
                                li
                                    a(href='#') Квартира
                                li
                                    a(href='#') Дом
                                li
                                    a(href='#') Коммерческая недвижимость
                                li
                                    a(href='#') Земельный участок
                            ul
                                li.submenu-title
                                    a(href='') аренда
                                li
                                    a(href='#') Квартира
                                li
                                    a(href='#') Дом
                                li
                                    a(href='#') Коммерческая недвижимость
                    li
                        a(href='#') оценка недвижимости
            .header-contacts
                .phone +38 (067) 507-22-34
                button.btn.btn-default.btn-transparent Заказать консультацию