//section seo text box
section.section-padding.seotext
    .container
        .row
            .col-lg-12
                span.section-title Сдать недвижимость в аренду в Киеве на выгодных условиях
            .col-lg-12
                | Надежное агентство недвижимости, с которым сотрудничает почти 400 опытных риелторов – АН Park Lane.
                | Мы обладаем крупной в Киеве базой объектов. Наши риелторы помогут вам продать недвижимость на лучших
                | условиях, проанализировав цены, предложения конкурентов, местоположение объекта и остальные важные данные.
                br
                | Почему важно доверить продажу специалисту
                br
                | Рынку недвижимости свойственны постоянные колебания, связанные с сезонностью, уровнем спроса на объекты,
                | количеством предложений и общей экономической ситуацией в стране
            .col-lg-12.text-center.seotext-btn
                button.btn.btn-default.btn-transparent Читать полностью