
// section with do action button
.call-form-section
  padding:
    top: 65px
    bottom: 65px
  & button
    margin-top: 20px
  & .section-title, & .section-subtitle
    text-align: left

// section with list

.list
  overflow: hidden
  padding-bottom: 70px
  &-wrapper
    margin: 0
    padding: 0
    list-style: none
    & p
      margin:
        top: 10px
        bottom: 0
      font:
        family: 'rubik-l', sans-serif
        size: 14px
        weight: 100
    & > li.container
      padding:
        top: 40px
        bottom: 40px
        left: 30px
        right: 30px
    & .pic
      display: block
      margin: 0 30px
  &-name
    font-weight: bold
  &-divider
    width: 100%
    height: 1px
    overflow: hidden
    background-color: #bdc3d5
  & .animate
    opacity: 0
    transition: .4s ease
    &-left
      transform: translateX(-200px)
    &-right
      transform: translateX(200px)
    &.active
      opacity: 1
      transform: translateX(0)

//company in numbers section

.innumbers
  background:
    image: url(../img/innumbers.png)
    position: center
    repeat: no-repeat
    size: 100% 100%
  &-top
    margin: 100px 0
  &-top, &-bottom
    text-align: center
  &-top > &-numbers
    font:
      family: 'rubik-b', sans-serif
      weight: bold
      size: 60px
    & > .num
      padding-right: 15px
  &-top > &-text
    font-size: 21px
  &-numbers
    font-size: 48px
    color: #88caec
  &-text
    color: $body-bg

//form section

.form
  width: 785px
  margin: 20px auto 0
  &-full-width
    width: 100% !important
  & input, & textarea
    background-color: transparent
    font:
      family: 'rubik-l', sans-serif
      weight: 100
      size: 16px
    color: $body-bg
    &::placeholder
      color: $body-bg
  & input
    width: 48%
    padding:
      top: 20px
      left: 3px
      bottom: 5px
    border:
      top: none
      left: none
      right: none
      bottom-width: 1px
    &.error
      outline-color: rgba(255, 0, 0, 0.62)
      border-bottom: 2px solid rgba(255, 0, 0, 0.62)
  & textarea
    height: 110px
    margin:
      top: 45px
      bottom: 45px
    padding: 10px
    border: 1px solid $body-bg
    resize: none
    &.error
      border: 2px solid rgba(255, 0, 0, 0.62)
  & .input-group
    width: 100%
  & .errorMSG
    margin-top: 10px
    text-align: center
    color: red
  & p
    margin-top: 10px
    text-align: center

//section breadcrumbs
.bitcrumb
  padding:
    top: 34px
    bottom: 34px
  background-color: $barnd-light
  border-bottom: 1px solid #bdc3d5
  & .section-title
    float: left
    margin:
      top: 0
      bottom: 0
  &-crumbs
    float: right
    margin-bottom: 0
    padding-left: 0
    & > li+li:before
      content: "/\00a0"
      padding: 0 5px
      color: #ccc
    & > li
      display: inline-block
      font-size: 14px
      & > a
        font:
          family: 'rubik', sans-serif
          weight: 500
        text-decoration: underline
      &.active
        font:
          family: 'rubik-l', sans-serif
          weight: 100

// seo text box
.seotext
  & #textBox
    position: relative
    overflow: hidden
    transition: .4s ease
  &-fog
    position: absolute
    z-index: 1
    width: 100%
    height: 30px
    bottom: 0
    left: 0
    background: linear-gradient(to top, #fff, transparent)
  &-btn > button.btn
    margin-top: 50px
    color: #000
    border-color: #000
    &.hideText > span:first-child, & > span:last-child
      display: none
    & > span:first-child, &.hideText > span:last-child
      display: inline
