@import "bootstrap"
@import "global"
@import "header"
@import "footer"
@import "components/s-breadcrumbs"
@import "components/s-in-numbers"
@import "components/s-list"
@import "components/s-form"
//
//.valuation
//
//.process
.pic-inspection
  background: url(../img/pic-inspection.png)no-repeat center/100%
.pic-dataanalise
  background: url(../img/pic-dataanalise.png)no-repeat center/100%
.pic-compvaluation
  background: url(../img/pic-compvaluation.png)no-repeat center/100%
.pic-result
  background: url(../img/pic-result.png)no-repeat center/100%

.feedback
  background:
    image: url(../img/feedback.png)
    position: center
    repeat: no-repeat
    size: 100% 100%
