//
   Created by jdzor on 05.11.2017.

footer.footer
    section.section-padding.brand-bg.footer-top
        .container
            .row.footer-row
                // <div class="col-lg-3">
                .footer-col
                    span.footer-title BitRealty
                    p
                        |Агентсво недвижимости
                        br
                        |цифрового века
                // <div class="col-lg-2">
                .footer-col
                    span.footer-title Позвоните нам
                    ul.footer-contacts.footer-phones
                        li +38 (067) 507-22-34
                        li +38 (066) 676-25-51
                // <div class="col-lg-2">
                .footer-col
                    span.footer-title Напишите нам
                    ul.footer-contacts.footer-emails
                        li bitrealt@gmail.com
                // <div class="col-lg-3">
                .footer-col
                    span.footer-title Приезжайте к нам
                    address.footer-contacts.footer-address
                        |ул. Княжий затон 2/30,
                        br
                        |г. Киев
                // <div class="col-lg-2">
                .footer-col
                    span.footer-title Мы в соцсетях
                    ul.footer-soc
                        li
                            a(href='#')
                                span.inst
                        li
                            a(href='#')
                                span.fb
    section.brand-bg-darker.footer-bottom
        .container
            .row
                .col-lg-12.footer-rights
                    span © 2017 BitRealty. Все права защищены