//
   Created by jdzor on 05.11.2017.

header.header
    h1.site-title.sr-only(itemprop='name') Site for trade realty for cryptocurrency.
    .brand-bg.menu-wrapper
        .container
            .row
                a.header-logo(href="/main/index.html")
                    img(src='../../../assets/img/logo.png', alt='logo')
                nav.header-nav(role='navigation')
                    ul.nav.navbar-nav
                        li
                            a.itemSubNav(href='#rent')
                                | аренда
                                span.nav-caret
                        li
                            a.itemSubNav(href='#sale')
                                | продажа
                                span.nav-caret
                        li
                            a.itemSubNav(href='#owners')
                                | владельцам
                                span.nav-caret
                        li
                            a(href='#') оценка недвижимости
                .header-contacts
                    .phone +38 (067) 507-22-34
                    #consultationHead
                nav.navbar.navbar-default(role="navigation")
                    .container-fluid
                        .navbar-header
                            button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href="#") Brand
                        #bs-example-navbar-collapse-1.collapse.navbar-collapse
                            ul.nav.navbar-nav
                                li.active
                                    a(href="#") Аренда
                                    ul.dropdown-menu
                                        li
                                            a(href="#") Квартира
                                        li
                                            a(href="#") Дом
                                        li
                                            a(href="#") Коммерческая недвижимость
                                li
                                    a(href="#") Продажа
                                    ul.dropdown-menu
                                        li
                                            a(href="#") Квартира
                                        li
                                            a(href="#") Дом
                                        li
                                            a(href="#") Коммерческая недвижимость
                                        li
                                            a(href="#") Земельный участок
                                li
                                    a(href="#") Владельцам
                                li
                                    a(href="#") Оценка недвижимости
    .submenu-wrapper
        #rent.hidden-nav.bit-dropdown-menu
            ul.container
                li
                    a(href='/rent/flat.html')
                        span.flat
                        | Квартира
                li.bit-dropdown-menu-devider
                li
                    a(href='/rent/house.html')
                        span.house
                        | Дом
                li.bit-dropdown-menu-devider
                li
                    a(href='/rent/corp.html')
                        span.comm(style="margin-top:22px")
                        | Коммерческая
                        br
                        | недвижимость
                li.submenu-title
                    span.ico.ico-rent
                    span Сдать в аренду
                    span.bg
        #sale.hidden-nav.bit-dropdown-menu
            ul.container
                li
                    a(href='#')
                        span.flat
                        | Квартира
                li.bit-dropdown-menu-devider
                li
                    a(href='#')
                        span.house
                        | Дом
                li.bit-dropdown-menu-devider
                li
                    a(href='#')
                        span.comm(style="margin-top:22px")
                        | Коммерческая
                        br
                        | недвижимость
                li.bit-dropdown-menu-devider
                li
                    a(href='/sale/stead.html')
                        span.stead(style="margin-top:22px")
                        | Земельный
                        br
                        | участок
                li.submenu-title
                    span.ico.ico-sale(style="margin-top:28px")
                    span
                        | Продать
                        br
                        | недвижимость
                    span.bg
        #owners.hidden-nav.bit-dropdown-menu-usual
            .usual-wrapper.container
                .row
                    ul.col-lg-6
                        li.submenu-title продажа
                        li
                            a(href='#') Квартира
                        li
                            a(href='#') Дом
                        li
                            a(href='#') Коммерческая недвижимость
                        li
                            a(href='#') Земельный участок
                    ul.col-lg-6
                        li.submenu-title аренда
                        li
                            a(href='#') Квартира
                        li
                            a(href='#') Дом
                        li
                            a(href='#') Коммерческая недвижимость
                        li.bg
