section.bitcrumb
    .container
        .row
            .col-lg-12
                span.visible-xs.visible-sm.bitcrumb-ico
                h1.section-title= pageName
                ol.hidden-xs.hidden-sm.bitcrumb-crumbs
                    li
                        a(href="/index.html") Главная
                    li.active= pageName