//
   Created by jdzor on 05.11.2017.
    section company in numbers

section.hidden-xs.hidden-sm.section-padding.innumbers
    .container
        .row
            .col-lg-12
                span.section-title.white Компания в цифрах
                span.section-subtitle.white Наши клиенты доверяют нам и поэтому зарабатывают вместе с нами
            .col-lg-12.innumbers-top
                span.innumbers-numbers
                    span.num(data-num="15") 15
                    | лет
                br
                span.innumbers-text успешной работы
            .col-lg-4.innumbers-bottom
                span.innumbers-numbers
                    span.num(data-num="565") 565
                    | +
                br
                span.innumbers-text постаянных клиентов
            .col-lg-4.innumbers-bottom
                span.innumbers-numbers
                    span.num(data-num="1560") 1560
                    | +
                br
                span.innumbers-text объектов продано
            .col-lg-4.innumbers-bottom
                span.innumbers-numbers
                    span.num(data-num="5643") 5643
                    | +
                br
                span.innumbers-text объектов сдано в аренду
