//section seo text box
section.section-padding.seotext
    .container
        .row
            .col-lg-12
                span.section-title= textBoxTitle
            #textBox.col-lg-12= textBox
                .seotext-fog
            .col-lg-12.text-center.seotext-btn
                button#openText.btn.btn-default.btn-transparent
                    span Читать полностью
                    span Свернуть